---
##########################################################
# images

docker_registry: quay.io

##########################################################
# loadbalancer

kolla_internal_fqdn: {{cookiecutter.fqdn_internal}}
{%- if cookiecutter.fqdn_external != cookiecutter.fqdn_internal %}
kolla_external_fqdn: {{cookiecutter.fqdn_external}}
{%- endif %}

kolla_internal_vip_address: {{cookiecutter.ip_internal}}
{%- if cookiecutter.ip_external != cookiecutter.ip_internal %}
kolla_external_vip_address: {{cookiecutter.ip_external}}
{%- endif %}

##########################################################
# openstack

# enable services
enable_designate: "yes"
enable_octavia: "yes"

# disable services
enable_heat: "no"

# generic
openstack_service_workers: 5

# elasticsearch
es_heap_size: "4g"

# neutron
neutron_plugin_agent: "openvswitch"

enable_neutron_agent_ha: "yes"
enable_neutron_qos: "yes"

# octavia
octavia_network_type: tenant

# designate
designate_ns_record: openstack.{{cookiecutter.domain}}

{%- if cookiecutter.with_ceph|int %}

##########################################################
# external ceph

cinder_backend_ceph: "yes"
glance_backend_ceph: "yes"
gnocchi_backend_storage: "ceph"
nova_backend_ceph: "yes"

ceph_gnocchi_pool_name: "metrics"
cinder_backup_driver: "ceph"
glance_backend_file: "no"

ceph_nova_user: nova
ceph_nova_keyring: ceph.client.nova.keyring

# NOTE: public_network from environments/ceph/configuration.yml
ceph_public_network: {{cookiecutter.ceph_network_frontend}}
{%- endif %}

##########################################################
# other
