PyYAML==5.4.1
ansible==3.1.0
cookiecutter==1.7.2
cryptography==3.4.7
oslo.utils==4.8.0
paramiko==2.7.2
passlib==1.7.4
pwgen==0.8.2.post0
pycrypto==2.6.1
pykeepass==4.0.0
python-gilt==1.2.3
ruamel.yaml==0.16.13
yamllint==1.26.0
