PyYAML==6.0
ansible==5.6.0
click==8.1.2
cookiecutter==1.7.3
cryptography==36.0.2
oslo.utils==4.12.2
paramiko==2.10.3
passlib==1.7.4
pwgen==0.8.2.post0
pycrypto==2.6.1
pykeepass==4.0.1
python-gilt==1.2.3
ruamel.yaml==0.17.21
yamllint==1.26.3
